/* layout */
.wrap {
  width: 1400px;
  margin: 0 auto;
}

/* header */

.header {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}
.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.gnb ul{
  display: flex;
}
.gnb ul li{
  margin: 10px 20px 0;
}
.gnb ul li a{
  font-size: 14px;
  color: #b8b8b8;
  font-family: 'Noto Sans KR'
}
.right_menu ul{
  display: flex;
  font-size: 14px;
  color: #b8b8b8;
  font-family: 'Noto Sans KR'
}
.right_menu ul li{
  margin: 0 20px;
  vertical-align: center;
}
.right_menu ul li:last-child{
  margin-right: 0;
}
.right_menu ul li a{
  font-size: 14px;
  color: #b8b8b8;
  font-family: 'Noto Sans KR'
}
.right_menu .cart img, .right_menu .search img { width:20px; opacity: 0.5;}

/* main */
/* slider */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.mySwiper .swiper-slide {
  position: relative;
  display: flex;
      -webkit-box-pack: center;
}
.mySwiper .text_area {
  position: relative;
  width: 50%;
  padding-top: 80px;
}
.mySwiper .text_area::after {
  content:'';
  position: absolute;
  top: 220px;
  left: 200px;
  width: 200px;
  height: 200px;
  background: rgba(200, 72, 148, 0.6);
  filter: blur(100px);
  border-radius: 50%;
}
.mySwiper .text_area img{
  width: 300px;
}
.mySwiper .img_area {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}
.mySwiper .img_area img {
  width: 470px;
}
.mySwiper .text_area h2{
  position: relative;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #202020;
  padding-bottom: 60px;
}
.mySwiper .text_area h2::before{
  content: '';
  position: absolute;
  top: -10px;
  left: -20px;
  width: 30px;
  height: 5px;
  background-color: #000;
}
.mySwiper .text_area h3{
  font-family: 'Noto Sans KR';
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.33px;
  color: #202020;
  padding: 0 0 20px 0;
}
.mySwiper .text_area .des{
  font-family: 'Noto Sans KR';
  font-size: 15px;
  letter-spacing: -0.33px;
  line-height: 1.9em;
  color: #202020;
  font-weight: 300;
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
.swiper-top .swiper-pagination-bullet-active:after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -20px;
  width: 0px;
  height: 2px;
  margin: 7px 0 0;
  width: 70%;
  opacity: 1;
  background-color: #000;
}
.swiper-horizontal>.swiper-pagination-bullets::before {
  content: '초신선을 경험해보세요';
  position: relative;
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.33px;
  text-align: left;
  color: #202020;
  padding: 0 20px 0 0;
}
